<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Restaurant</a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/recipes" *ngIf="isAuthentcatedUser" >
                     <!-- (click)="onSelect('recipes')"> -->
                        Recipes
                    </a>
                </li>
                <li routerLinkActive="active"><a routerLink="/shoppingList" > 
                    <!-- (click)="onSelect('shoppingList')"> -->
                        Shopping List
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown routerLinkActive="active" *ngIf="isAuthentcatedUser">
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="onSaveRecipes()">Save Data</a></li>
                        <li><a style="cursor: pointer;" (click)="onFetchRecipes()">Fetch Data</a></li>
                    </ul>
                </li>
                <li routerLinkActive="active" *ngIf="!isAuthentcatedUser">
                    <a style="cursor: pointer;" routerLink="/auth"> Authenticate </a>
                </li>
                <li routerLinkActive="active" *ngIf="isAuthentcatedUser">
                    <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>