<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <button 
                            type="submit" 
                            class="btn btn-success" 
                            [disabled]="recipeForm.invalid"
                            >
                            Save
                        </button> &nbsp;
                        <button type="button" class="btn btn-danger" (click)="onCancle()">Cancel</button>
                    </div>
                </div>
            </div>
            <div formGroupName="recipeData" class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div >
                                <label for="rname">Name</label>
                                <input type="text" id="rname" class="form-control" formControlName="rnamec">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div>
                                <label for="iurl">Image URL</label>
                                <input type="text" id="iurl" class="form-control" formControlName="iurlc" #imagePath>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="image-container">
                        <div class="col-xs-12">
                            <img 
                            [src]="imagePath.value" 
                            class="img-responsitive">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div>
                                <label for="desc">Describtion</label>
                                <textarea 
                                    type="text" 
                                    id="desc" 
                                    class="form-control" 
                                    rows="6" 
                                    formControlName="descc">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-xs-12" formArrayName="recipeIngriedients">
                    <div 
                        class="row" 
                        *ngFor="let ingredient of getIngredientControles() let i = index"
                        [formGroupName]="i"
                        style="margin-top: 10px;" 
                        >
                        <div class="col-xs-8">
                            <input  
                                type="text" 
                                class="form-control"
                                formControlName="inamec"
                            >
                        </div>
                        <div class="col-xs-2">
                            <input 
                                type="number" 
                                class="form-control" 
                                formControlName="amountc"
                            >
                        </div>
                        <div class="col-xs-2">
                            <button 
                                class="btn btn-danger" 
                                type="button"
                                (click)="onDeleteIngredientControl(i)"
                                >
                                X
                            </button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button 
                            type="button" 
                            class="btn btn-primary"
                            (click)="onAddIngredientControl()"
                            >
                            Add Ingredient
                        </button>
                    </div>
                </div>
            </div>      
        </form>
    </div>
</div>